html {
    width: 100%;
    font-family: 'ABeeZee', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: #f8f3f2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-behavior: smooth;
}

body {
    width: 95%;
    align-self: center;
    border-radius: 2px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background {
    width: 100%;
    position: fixed;
    background-color: #f8f3f2;
    z-index: 1;
    height: 5%;
    align-self: top;
}

nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    background-color: white;
    z-index: 5;
    box-shadow: 1px 1px 3px #8f666c;
    border-bottom: 1px solid #8f666c;
    border-radius: 5px;
    margin-top: 2%;
    height: 16%;
}

nav a {
    height: 100%;
    overflow: hidden;
    padding: 3px;
}

nav img {
    height: 100%;
    align-self: center;
    padding-right: 30px;
    z-index: 5;
}

.intro_block {
    font-size: 40px;
    width: 100%;
    padding-top: 10%;
}

.entry_with_detail, .comment_box {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: -1px 1px 5px #8f666c;
    align-items: flex-start;
    padding-left: 2%;
}

#about {
    margin-top: 2%;
}

h2 {
    color: rgb(172, 82, 109);
    font-size: 20px;
    margin-bottom: 0px;
}

.intro_p {
    font-size: 17px;
    line-height: 1.5;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.intro_a {
    text-decoration: none;
    color:rgb(172, 82, 109);
}

.intro_a:hover {
    color: #8f666c;
}

.intro_a:visited {
    color: rgb(172, 82, 109);
}

.content_block {
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px 10px;
    width: 100%;
    flex-wrap: wrap;
}

.entry {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.entry:hover {
    cursor: pointer;
    animation: 0.7s wobble ease-in-out;
}

@keyframes wobble { 
    0% { transform: rotate(0deg) } 
    15% { transform: rotate(-0.5deg); } 
    30% { transform: rotate(0deg); } 
    45% { transform: rotate(0.5deg); } 
    60% { transform: rotate(0deg); } 
    75% { transform: rotate(-0.5deg); } 
    100% { transform: rotate(0deg); } 
}

a:hover {
    cursor: pointer;
}

.quote {
    background: linear-gradient(328deg, rgba(248,243,242,1) 0%, rgba(244,212,212,1) 71%, rgba(214,152,161,1) 100%);
    align-items: center;
    width: 100%;
    box-shadow: 1px 1px 3px #8f666c;
    border-bottom: 2px solid #8f666c;
    border-radius: 5px;
    height: 300px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 20px;
}

.quote_image {
    height:100%;
    width: auto;
}

.quote p {
    text-align: center;
    font-style: italic;
    color: black;
    
}

.presentation {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%; /*check if this has changed*/
    margin-top: -60px;
    box-shadow: 1px 1px 3px #8f666c;
    border-bottom: 1px solid #8d7d80;
    border-right-style: 1px solid #8d7d80;
    border-radius: 5px;
}

.presentation a, .quote a {
    text-decoration: none;
    color: black;
}

.presentation a:visited, .quote a:visited {
    color: black;
}

h3 {
    text-align: center;
    color: rgb(172, 82, 109);
    font-size: 20px;
}

.presentation_p {
    text-align: center;
}

.to_top {
    background-color:  rgb(194, 55, 97);
    border-radius: 50%;
    border: 1px solid transparent;
    height: 30px;
    width: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.to_top a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.to_top a:visited {
    color: white;
}

.to_top:hover {
    cursor: pointer;
    transform: scale(1.1)
}

.small_display {
    display: none;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 110%;
    overflow: hidden;
    margin-top: 5%;
    padding-top: 3%;
    border-bottom: none;
    box-shadow: 0px 0px 5px 3px #888;
    background: rgb(248,243,242);
    clip-path: inset(-15px 0px 5px 0px);

}

.contact_img_box {
    width: 8%;
    margin-top: 5px;
}

.contact a:hover {
    cursor: pointer;
    animation: 0.7s wobble ease-in-out;
}

.contact img {
    width: 40%;
}

.contact .make_big {
    width: 60%;
}

footer {
    border-top: 1px solid rgb(241, 57, 115);
    width: 50%;
    text-align: center;
    margin-top: 3%;
}

/*start css for entry_detail page*/

button {
    border: 1pt #8f666c solid;
    box-shadow: -1px 1px 1px #8f666c;
}

button:hover {
    cursor: pointer;
}

.btn-back {
    color: slategrey;
    border-radius: 10px;
    padding: 8px 10px;
    font-size: 15px;
    margin: -6% 0 1% 0;
}

.btn-back a {
    color: #8f666c;
    text-decoration: none;
}

.btn-back a:hover {
    color:rgb(194, 55, 97);
}

.btn-back a:visited {
    color: #8f666c;
}

h1 {
    color: rgb(172, 82, 109);
    font-size: 30px;
}

.detail_date {
    align-self: flex-end;
    font-size: 10px;
    margin: 2%;
    line-height: 1.5;
    text-align: right;
}

.comment_section {
    border-top: 1px solid #8f666c;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 45%;
}

.right {
    background-color: transparent;
    height: inherit;
}

.comment_box {
    margin-top: 2%;
}

.comm {
    margin-bottom: 0.2%;
}

.form_btn {
    color: #8f666c;
    padding: 0.4%;
    margin-top: 1%;
    border-radius: 5px;
    font-size: 13px;
}

/*add responsive design for small screens*/

@media screen and (max_width: 600px){
    .big_display {
        display: none;
    }

    .small_display {
        display: flex;
    }
    
    nav {
        height: 5%;
    }
    
    #about {
        margin-top: 12%;
    }
    
    .entry {
        width: 95%;
    }

    .to_top {
        height: 10%;
        width:30%;
        border-radius: 5%;
    }

    h3 {
        font-size: 30%;
    }

    .contact {
        flex-direction: column;
    }

    .contact_img_box {
        width: 100%;
        height: 10%;
        border-radius: 5;
        border:rgb(194, 55, 97) solid 1px;
    }

    .contact_img_box a {
        text-decoration: none;
        text-transform: uppercase;
        color:rgb(194, 55, 97);
    }

    .contact_img_box:hover {
        color: black;
    }

    .contact_img_box a:visited {
        color: rgb(194, 55, 97);
    }

    .entry_with_detail {
        margin-top: 10%;
    }

    .comment_section {
        flex-direction: column;
    }
}

/*responsive design for medium devices

@media screen and (max_width: 768px){
    .entry {
        width: 45%;
    }
}*/