/*responsive design for small screens*/

.big_display {
    display: none;
}

.small_display {
    display: flex;
}

body {
    width: 100%;
}

nav {
    height: 7%;
    margin-top: 3%;
    width: 100%;
    border-radius: none;
}

.intro_block {
    width: 100%;
    border-radius: none;
    margin-top: 10%;
}

.content_block {
    margin-top: 0;
}

.entry {
    width: 100%;
}


.to_top {
    width:26%;
    border-radius: 4%;
}

.to_top {
    font-size: 13px;
}

h3 {
    font-size: 16px;
}

.presentation {
    border-radius: none;
}

.presentation_p {
    font-size: 12px;
}

.contact {
    flex-direction: column;
    width: 100%;
    padding-bottom: 1%;
}

.contact_img_box {
    width: 40%;
    border-radius: 10px;
    border:rgb(194, 55, 97) solid 1px;
    font-size: 13px;
    background-color: rgb(194, 55, 97);
}

.contact_img_box a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

.contact_img_box a p {
    height: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact_img_box:hover {
    background-color: white;
}

.contact_img_box:hover a {
    color:black;
}

.contact_img_box a:visited {
    color: rgb(194, 55, 97);
}

.entry_with_detail {
    margin-top: 20%;
    border-radius: none;
}

.comment_section {
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.left, .right {
    width: 100%;
}

.left {
    padding-left: 1%;
    align-items: center;
}

.comment_form {
    padding-right: 0.5px;
    padding-left: 0.5px;
}

footer {
    font-size: 11px;
}

h1 {
    font-size: 23px;
}