{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    </head>

    <body>
        <div id="home"></div>
        <div class="background">
            {% if user.is_authenticated %}
                <a href="{% url 'entry_new' %}" class="top-menu"></a>
            {% endif %}
        </div>
        <nav>    
            <a href="{% url 'home' %}"><img src="{% static 'images/banner.png' %}" alt="Suqui Writes"></a>
        </nav>
        <div class="intro_block">
            {% block intro %}
            {% endblock %}
        </div>
        <div class="content_block">
            {% block content %}
            {% endblock %}
        </div>
        <button class="to_top"><a href="#home">&#129053;</a></button>
        <div class='detail_entry contact' id="contact_box">
            <span class="contact_img_box" >
                <a href="https://github.com/LisaLaw" target="_blank"><img src="{% static 'images/icon-github.png' %}" alt="GitHub"></a>
            </span>
            <span class="contact_img_box" class="make_big">
                <a href="https://www.linkedin.com/in/lisa-law/" target="_blank"><img src="{% static 'images/icon-linkedin.png' %}" alt="LinkedIn"></a>
            </span>
            <span class="contact_img_box">
                <a href="mailto:lisacatlaw@gmail.com" target="_blank"><img src="{% static 'images/icon-email.png' %}" alt="Email" class="small"></a>
            </span>
            <span class="contact_img_box">
                <a href="tel:0044-7366-40-95-18"><img src="{% static 'images/icon-telephone.jpg' %}" alt="Telephone"></a>
            </span>
            <span class="contact_img_box">
                <a href="https://twitter.com/mrs_l_law" target="_blank"><img src="{% static 'images/icon-twitter.png' %}" alt="Twitter"></a>
            </span>
        </div>
    </body>
</html>