{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
        <link rel="stylesheet" href="{% static 'css/blog_small.css' %}" media="screen and (max-width:600px)">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>

    <body>
        <div id="home"></div>
        <div class="background">
            {% if user.is_authenticated %}
                <a href="{% url 'entry_new' %}" class="top-menu"></a>
            {% endif %}
        </div>
        <nav>    
            <a href="{% url 'home' %}">
                <img src="{% static 'images/banner.png' %}" alt="Suqui Writes">
            </a>
        </nav>
        <div class="intro_block">
            {% block intro %}
            {% endblock %}
        </div>
        <div class="content_block">
            {% block content %}
            {% endblock %}
        </div>
        <a href="#home" class="to_top">
            <p class="big_display">&#129053;</p>
            <p class="small_display">back to the top</p>
        </a>
        </div>
        <div class='detail_entry contact' id="contact_box">
            <span class="contact_img_box" >
                <a href="https://github.com/LisaLaw" target="_blank">
                    <img src="{% static 'images/icon-github.png' %}" alt="GitHub" class="big_display">
                    <p class="small_display">GitHub</p>
                </a>
            </span>
            <span class="contact_img_box" class="make_big">
                <a href="https://www.linkedin.com/in/lisa-law/" target="_blank">
                    <img src="{% static 'images/icon-linkedin.png' %}" alt="LinkedIn" class="big_display">
                    <p class="small_display">LinkedIn</p>    
                </a>
            </span>
            <span class="contact_img_box">
                <a href="mailto:lisacatlaw@gmail.com" target="_blank">
                    <img src="{% static 'images/icon-email.png' %}" alt="Email" class="small big_display">
                    <p class="small_display">Email</p>    
                </a>
            </span>
            <span class="contact_img_box">
                <a href="tel:639 624 915">
                    <img src="{% static 'images/icon-telephone.jpg' %}" alt="Telephone" class="big_display">
                    <p class="small_display">Call</p>    
                </a>
            </span>
        </div>
        <footer>
            <p>&#169;2020 | Suqui</p>
        </footer>
    </body>
</html>