{% extends 'suquiwrites/base.html' %}

{% block intro %}
    <button class="btn-back big_display"><a href="{% url 'home' %}">Back to Suqui Writes</a></button>
{% endblock %}

{% block content %}
    <div class="entry_with_detail">
        <h1>{{ entry.title }}</h1>
        <p>{{ entry.text|linebreaksbr }}</p>
        <p class="detail_date">
            {% if entry.published_date %}
                <span class="big_display">written by {{ entry.author }}, </br>
                    {{ entry.published_date|date:"d M Y" }}
                </span>
                <span class="small_display">by {{ entry.author }}, </br>
                    {{ entry.published_date|date:"d M y"}}
                </span>
            {% endif %}
        </p>
    </div>
    <div class="comment_section">
        <div class="left">
            <h2>What do you think?</h2>

            <form method="POST" class="comment_form">
                {{ comment_form.as_p }}
                {% csrf_token %}
                <a href="{% url 'entry_detail' pk=entry.pk %}">
                    <input type="submit" value="Add my thoughts" class="submit_btn">
                </a>
            </form>
        </div>

        <div class="right">

            {% for comment in entry.comments.all %}
            <div class="comment_box">
                <p style="text-decoration:underline">
                    {{ comment.name }} says:
                </p>
                <p class="comment_text">
                    {{ comment.thoughts|linebreaks }}
                </p>
                <p class="detail_date comm">
                    {{ comment.date_posted }}
                </p>
            </div>
            {% empty %}
                <h2>Be the first to share your thoughts!</h2>
            {% endfor %}
        </div>
            
    </div>
{% endblock %}