{% extends 'suquiwrites/base.html' %}

{% block intro %}
    <div class="entry_with_detail" id="about">
        <h2>About me</h2>
        <p class="intro_p">My name is Suqui, I'm so glad you found my blog. Welcome!<br>
            <br>
            I'm a programmer, linguist, kareteka and foodie.<br>
            <br>
            I love reading high fantasy novels, watching Disney, and everything hot (cue in Death Valley).<br>
            I am a wannabe vegan, most of the time, a teddy on the inside, somtimes, and hungry, all the time.<br> 
            <br>
            Below you will find random articles about living life as an expat in Spain, keeping sane, other general life lessons and anything else I can think of. <br>
            I love a good discussion, so please, <a href="#contact_box" class="intro_a">get in touch</a>! I look forward to hearing from you.
        </p>
    </div>
{% endblock %}

{% block content %}   
    <div class=row>
        {% for entry in entries %}
            <span class="entry">
                <div class="quote">
                    <a href="{% url 'entry_detail' pk=entry.pk %}" target="_blank">
                        {% if entry.image %}
                            <img class="quote_image">{{ entry.image }}</img>
                        {% else %}
                            <p>{{ entry.quote }}</p>
                        {% endif %}
                    </a>
                </div>
                <div class="presentation">
                    <a href="{% url 'entry_detail' pk=entry.pk %}">
                        <h3>{{ entry.title }}</h3>
                        <p class="presentation_p big_display">{{ entry.published_date|date:"d M Y"}}</p>
                        <p class="presentation_p small_display">{{ entry.published_date|date:"d M y"}}</p>
                    </a>
                </div>
            </span>
        {% endfor %}
    </div>
{% endblock %}
