{% extends 'suquiwrites/base.html' %}

{% block content %}    
    {% for entry in entries %}
        <span class="entry">
            <div class="quote">
                <a href="./entry1.html">
                    <h2>Some quote</h2>
                </a>
            </div>
            <div class="presentation">
                <a href="./entry1.html">
                    <h3>{{ entry.title }}</h3>
                    <p>{{ entry.published_date|date:"d M Y"}}</p>
                </a>
            </div>
        </span>
    {% endfor %}
{% endblock %}
